// COLOR PALLETE
$dark-cerulean: #004779 !default;
$dark-lemon-lime: #78BE20 !default;
$olive-drab: #639d1a !default;
$lemon-glacier: #FAFF07 !default;
$dark-silver: #6E6E6E !default;
$american-silver: #cccfd8 !default;
$black-olive: #3C3C3C !default;
$dark-gunmetal: #212529 !default;
$arsenic: #414141 !default;
$platinum: #E2E6EA !default;
$light-gray: #E3E3E3 !default;
$white: #fff !default;

// SPACING
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// BORDERS
$base-border-thickness: 1px !default;
$base-border-radius: 5px !default;

// BOX SHADOW
$base-box-shadow: 0px 2px 10px rgba(0,0,0,0.3) !default;

// FONT FAMILY
$font-family-lato: Lato, -apple-system, system-ui, BlinkMacSystemFont, sans-serif !default;
$font-family-rubik: 'Rubik', sans-serif !default;
$font-family-panton-rust: 'Panton Rust Heavy Grunge', sans-serif !default;

// FONT SIZE
$base-font-size: 1rem !default;