// OFFERS MIXIN
@mixin offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-cerulean;
  border-radius: $base-border-radius;
  margin-top: $base-margin * 2;
  margin-bottom: $base-margin * 2;
  overflow: hidden;
}

// ITEM MIXIN
@mixin item {
  flex-basis: calc(100% / 4);
  margin-bottom: $base-margin * 2;
  text-align: center;

  p {
    color: $dark-cerulean;
    font-size: calc(#{$base-font-size} - 4px);
  }
}

/* SECTION 1 */
.sports, .casino {
  background-color: $white;
  padding: $base-padding * 1.5 $base-padding * 2 $base-padding * 1.5;
  .item {
    @include item;

    a {
      display: block;
    }
  
    .football-icon, .rugby-icon, .darts-icon, .american-football, .basketball, .tennis, .casino-icon, .bingo-icon {
      width: 40px;
      height: 40px;
    }
  
    .golf-icon {
      width: 36px;
      height: 40px;
    }
  
    .boxing-icon {
      width: 45px;
      height: 40px;
    }

    .gaming-icon, .slots-icon {
      width: 42px;
      height: 40px;
    }

    .livecasino-icon {
      width: 26px;
      height: 40px;
    }

    .poker-icon {
      width: 37px;
      height: 40px;
    }
  }
}

h1 {
  text-align: center;
  font-size: $base-font-size * 2.5;
  line-height: $base-font-size * 2.2;
  font-family: $font-family-panton-rust;
  margin: $base-margin;
}

.sports {
  .offers {
    @include offers;
  }
  .img-1 {
    background-image: url('/images/sports/FSS.jpg');
  }
  
  .img-2 {
    background-image: url('/images/sports/RSS.jpg');
  }
  
  .img-3 {
    background-image: url('/images/sports/BYB.jpg');
  }
  
  .img-4 {
    background-image: url('/images/sports/FTF.jpg');
  }
}

.img-1, .img-2, .img-3, .img-4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}

.details {
  padding: $base-padding * 1.7 $base-padding * 1.5;
  text-align: center;
  p, h2, h3 {
    color: $white;
    text-transform: uppercase;
  }

  h2, h3 {
    font-family: $font-family-panton-rust;
  }

  p {
    font-family: $font-family-rubik;
    font-size: $base-font-size;
    line-height: $base-font-size * 1.2;
    margin-bottom: calc(#{$base-margin} - 8px);
  }

  h2 {
    font-size: $base-font-size * 2;
    line-height: $base-font-size * 1.9;
    margin-bottom: calc(#{$base-margin} - 10px);
  }

  h3 {
    font-size: $base-font-size * 1.2;
    line-height: $base-font-size * 1.5;
  }

  .key-terms {
    display: block;
    color: $white;
    font-size: calc(#{$base-font-size} - 5px);
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-top: $base-margin * 1.1;

    &:hover {
      color: darken($white, 15);
    }
  }
}

.markets-container {
  margin-top: $base-margin * 3;
  margin-bottom: $base-margin * 1.1;
}

.markets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  p {
    color: $dark-cerulean;
    text-align: center;
  }
}

h2 {
  text-align: center;
  margin-bottom: $base-margin * 2;
}

.sports-offer, .casino-offer {
  img {
    height: 250px;
    width: 100%;
    display: block;
  }
}

/* SECTION 2 */
.casino {
  .offers {
    @include offers;
  }

  .img-1 {
    background-image: url('/images/casino/Rewards_Grabber.jpg');
  }
  
  .img-2 {
    background-image: url('/images/casino/Sport_Slot.jpg');
  }
  
  .img-3 {
    background-image: url('/images/casino/Slots_Tournaments.jpg');
  }
}

.is-scrollable {
  overflow-x: scroll;
}

.is-scrollable::-webkit-scrollbar {
  height: 5px;
}

.is-scrollable::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: $base-border-radius;
}

.is-scrollable::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: $base-border-radius;
}

.is-scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #ababab; 
}

.slots-games-container {
  h2 {
    margin-top: $base-margin * 4;
  }
}

.slots-games {
  width: 1600px;
  
  .item {
    display: flex;
    column-gap: 10px;
  }

  img {
    display: block;
    width: 200px;
    height: auto;
    border-radius: calc(#{$base-border-radius} - 2px);
  }
}

/* SECTION 3 */
.seo {
  background-color: $dark-silver;
  padding: $base-padding * 2;
}

.seo-container {
  display: flex;
  flex-direction: column;

  .item {
    margin-bottom: $base-margin * 1.8;
    &:last-child {
      margin-bottom: 0;
    }

    h3, p {
      color: $light-gray;  
    }

    h3 {
      font-family: $font-family-lato;
      font-weight: 600;;
      font-size: calc(#{$base-font-size} - 2px);
      margin-bottom: $base-margin * 1.5;
    }

    p {
      font-size: calc(#{$base-font-size} - 4px);
      margin-bottom: calc(#{$base-margin} - 5px);
      font-weight: 300;
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: underline;
      text-underline-offset: 3px;

      &:hover {
        color: darken($light-gray, 10);
      }
    }
  }
}

/* MEDIA QUERIES */

/* 992px BREAKPOINT UP */
@include lg-up {
  .sports, .casino {
    padding: $base-padding * 6 $base-padding * 3.35 $base-padding * 3.5;

    .item {
      margin-bottom: $base-margin * 4;

      p {
        font-size: calc(#{$base-font-size} + 2px);
        margin-top: $base-margin;
      }

      .football-icon, .darts-icon, .basketball, .casino-icon, .bingo-icon {
        width: 79px;
        height: 79px;
      }
  
      .rugby-icon, .american-football {
        width: 81px;
        height: 80px;
      }
  
      .tennis {
        width: 80px;
        height: 79px;
      }
    
      .golf-icon {
        width: 70px;
        height: 80px;
      }
    
      .boxing-icon {
        width: 89px;
        height: 79px;
      }
  
      .gaming-icon {
        width: 83px;
        height: 79px;
      }
  
      .slots-icon {
        width: 81px;
        height: 79px;
      }
  
      .livecasino-icon {
        width: 50px;
        height: 79px;
      }
  
      .poker-icon {
        width: 72px;
        height: 79px;
      }
    }
  }

  .casino {
    .item {
      &:nth-child(5), &:nth-child(6) {
        margin-bottom: $base-margin;
      }
    }
  }

  h1 {
    font-size: $base-font-size * 4;
    line-height: $base-font-size * 3.5;
    margin: 0;
    margin-bottom: $base-margin * 5;
  }

  .sports, .casino {
    .offers {
      margin-top: $base-margin * 3;
      margin-bottom: $base-margin * 3;
    }
  }

  .details {
    padding-left: $base-padding * 2;
    padding-right: $base-padding * 2;

    h2 {
      font-size: calc(#{$base-font-size * 2} + 4px);
      line-height: calc(#{$base-font-size * 2} + 2px);
      margin-bottom: calc(#{$base-margin} - 7px);
    }

    h3 {
      font-size: calc(#{$base-font-size} + 8px);
    }

    .key-terms {
      font-size: calc(#{$base-font-size} - 6px);
      margin-top: $base-padding * 2.5;
    }
  }

  .slots-games-container {
    h2 {
      margin-top: $base-margin * 5;
      margin-bottom: $base-margin * 5;
    }
  }

  .slots-games {
    img {
      width: 500px;
    }

    .item {
      column-gap: 20px;
      margin-bottom: $base-margin * 2;
    }
  }

  .is-scrollable::-webkit-scrollbar {
    height: 10px;
  }

  h2 {
    font-size: calc(#{$base-font-size * 2} + 4px);
    margin-bottom: $base-margin * 3;
  }

  .markets-container {
    margin-top: $base-margin * 8;
    margin-bottom: 0;
  }

  .markets {
    p {
      font-size: calc(#{$base-font-size} + 2px);
    }
  }

  .show-mobile {
    display: none;
  }
}

/* 768px BREAKPOINT UP */
@include md-up {
  .show-desktop {
    display: block;
  }

  .sports-offer, .casino-offer {
    .show-desktop {
      img {
        height: auto;
      }
    }
  }

  .seo {
    padding: $base-padding * 4 $base-padding * 3.5;
  }

  .seo-container {
    .item {
      h3 {
        font-size: $base-font-size;
      }

      p {
        font-size: calc(#{$base-font-size} - 2px);
      }
    }
  }
}

/* 576px BREAKPOINT UP */
@include sm-up {
  .sports, .casino {
    .offers {
      flex-direction: row;
    }

    .img-1, .img-2, .img-3, .img-4 {
      flex-basis: 40%;
    }
  }

  .details {
    flex-basis: 60%;
    text-align: left;

    h2 {
      text-align: left;
    }
  }

  .slots-games {
    width: 2600px;
  }

  .sports-offer, .casino-offer {
    .show-mobile {
      img {
        height: auto;
      }
    }
  }
}

/* 991.98px BREAKPOINT DOWN */
@include lg-down {
  .show-desktop {
    display: none;
  }
}