@use 'abstracts' as *;

/* HEADER */
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: $base-box-shadow;
  z-index: 999;
}

.header {
  background-color: $dark-cerulean;
  padding: $base-padding * 2;

  @include md-up {
    padding: $base-padding * 1.5;
  }

  @include breakpoint-down(360px) {
    padding: $base-padding * 1.3;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 132px;
    height: 21px;

    @include md-up {
      width: 222px;
      height: 35px;
    }

    @include breakpoint-down(360px) {
      width: 80%;
    }
  }

  .login-cta {
    color: $white;
    font-size: calc(#{$base-font-size} - 6px);
    border: $base-border-thickness solid $white;
    border-radius: $base-border-radius;
    box-sizing: border-box;
    padding: 6px 8px;
    text-transform: uppercase;
    transition: 0.15s ease-in-out;

    @include md-up {
      font-size: calc(#{$base-font-size} - 2px);
      padding: $base-padding * 0.8 $base-padding * 1.3;
    }

    @include breakpoint-down(360px) {
      font-size: calc(#{$base-font-size} - 9px);
    }

    &:hover {
      color: $dark-gunmetal;
      background-color: $platinum;
      border: $base-border-thickness solid $platinum;

      .next-icon {
        fill: $dark-gunmetal;
      }
    }
  }

  .next-icon {
    width: 8px;
    height: 8px;
    padding-left: 3px;
    fill: $white;

    @include md-up {
      width: 15px;
      height: 11px;
      padding-left: calc(#{$base-padding} - 4px);
    }

    @include breakpoint-down(360px) {
      width: 7px;
      height: 5px;
    }
  }
}